@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&family=Inter:wght@300;400;600&family=Oxygen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Oxygen", sans-serif;
}

header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 1000;
  overflow-x: hidden;
}
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: background 0.35s ease-in-out;
  -webkit-transition: background 0.35s ease-in-out;
}
header nav.sticky {
  background: linear-gradient(60deg, #4ea8de 0%, #6930c3 100%);
}
header nav #mobileToggle {
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: top 0.3s 0.1s ease;
  -webkit-transition: top 0.3s 0.1s ease;
  will-change: top;
}
header nav #mobileToggle .bar {
  height: 2px;
  background: white;
  display: inline-block;
  margin-bottom: 8px;
  border-radius: 20px;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
}
header nav #mobileToggle .bar:nth-child(1) {
  width: 21px;
}
header nav #mobileToggle .bar:nth-child(2) {
  width: 28px;
}
header nav #mobileToggle .bar:nth-child(3) {
  width: 35px;
}
header nav #mobileToggle.active {
  top: calc(5% + 10px);
}
header nav #mobileToggle.active .bar {
  margin: 0;
  width: 28px;
  height: 2px;
  background: black;
}
header nav #mobileToggle.active .bar:nth-child(2) {
  opacity: 0;
}
header nav #mobileToggle.active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(2.5px);
  -webkit-transform: rotate(45deg) translateY(2.5px);
}
header nav #mobileToggle.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-2.5px);
  -webkit-transform: rotate(-45deg) translateY(-2.5px);
}
header nav .logo {
  margin-left: 35px;
  color: white;
}
header .navbar-panel {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -1000px);
  -webkit-transform: translate(-50%, -1000px);
  height: 75%;
  width: 90%;
  background: white;
  z-index: 999;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0px;
  transition: all 0.45s ease;
  -webkit-transition: all 0.45s ease;
}
header .navbar-panel .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .navbar-panel .socials .separator {
  height: 2px;
  width: 8%;
  border-radius: 20px;
  margin: 0rem auto 2rem;
  background: #7400b9;
}
header .navbar-panel .socials-icons {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
header .navbar-panel .socials-icons a {
  display: block;
  text-decoration: none;
  font-size: 28px;
}
header .navbar-panel .socials-icons a.git {
  color: black;
}
header .navbar-panel .socials-icons a.ig {
  color: #e4405f;
}
header .navbar-panel .socials-icons a.codepen {
  color: black;
}
header .navbar-panel .socials-icons a.lnk {
  color: #0077b5;
}
header .navbar-panel .socials-icons a.mail {
  color: #c71610;
}
header .navbar-panel.show {
  transform: translate(-50%, 0px);
  -webkit-transform: translate(-50%, 0px);
}
header .navbar-panel .logo h2 {
  font-size: 28px;
  text-transform: uppercase;
  color: #5e60ce;
}
header .navbar-panel .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: none;
}
header .navbar-panel .navbar li {
  width: 100%;
  font-family: "Inter", sans-serif;
}
header .navbar-panel .navbar li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 25px 0;
  font-size: 18px;
  position: relative;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}
header .navbar-panel .navbar li a:focus, header .navbar-panel .navbar li a:hover, header .navbar-panel .navbar li a.active {
  color: #5e60ce;
}

.container {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #4ea8de 0%, #6930c3 100%);
  color: white;
  width: 100%;
}
.container .inner-header {
  height: 80vh;
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 6rem;
  overflow: hidden;
}
@media only screen and (min-width: 415px) {
  .container .inner-header {
    height: 75vh;
  }
}
.container .inner-header img {
  object-fit: contain;
  width: 300px;
  height: 400px;
  display: block;
  margin-top: 8rem;
  margin-bottom: -2rem;
  margin-left: 2rem;
}
@media only screen and (min-width: 415px) {
  .container .inner-header img {
    margin-top: 9rem;
    margin-left: 2rem;
    width: 350px;
    height: 450px;
  }
}
.container .inner-header .intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 3.5rem;
  text-align: left;
}
.container .inner-header .intro-heading {
  margin-bottom: 10px;
  letter-spacing: 1.4px;
  padding: 0px 35px;
}
.container .inner-header .intro-heading h4 {
  font-size: 20px;
  margin-bottom: 5px;
  line-height: 32.4px;
}
@media only screen and (min-width: 415px) {
  .container .inner-header .intro-heading h4 {
    font-size: 24px;
  }
}
.container .inner-header .intro-heading h2 {
  font-size: 24px;
}
@media only screen and (min-width: 415px) {
  .container .inner-header .intro-heading h2 {
    font-size: 28px;
  }
}
.container .inner-header .intro-heading h2 span {
  color: #48bfe3;
}
.container .inner-header .intro-content {
  margin-bottom: 25px;
  letter-spacing: 1.8px;
  line-height: 28.2px;
  padding-left: 35px;
  padding-right: 50px;
}
@media only screen and (min-width: 415px) {
  .container .inner-header .intro-content {
    padding-right: 7rem;
  }
}
.container .inner-header .intro-content .lead {
  font-size: 18px;
}
@media only screen and (min-width: 415px) {
  .container .inner-header .intro-content .lead {
    font-size: 20px;
  }
}
.container .inner-header .intro-buttons {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0px 15px;
  margin-top: 1.5rem;
}
@media only screen and (min-width: 415px) {
  .container .inner-header .intro-buttons {
    margin-top: 2rem;
  }
}
.container .inner-header .intro-buttons a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  width: 200px;
  padding: 15px 0px;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.25);
}
@media only screen and (min-width: 415px) {
  .container .inner-header .intro-buttons a {
    font-size: 18px;
  }
}
.container .inner-header .intro-buttons a.btn {
  background: #56cfe1;
  color: black;
}
.container .inner-header .intro-buttons a.services-btn {
  background: #5e60ce;
  color: white;
  margin-top: 15px;
}
@media only screen and (min-width: 415px) {
  .container .inner-header .intro-buttons a.services-btn {
    margin-top: 20px;
  }
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

/*# sourceMappingURL=styles.css.map */
