@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&family=Inter:wght@300;400;600&family=Oxygen&display=swap");

// colors
// $blue: #0091ad;
// $blue-darker: #455e89;
// $pastel-blue: #1780a1;
// $pastel-blue-darker: #2e6f95;

// $purple-grape: #5c4d7d;
// $purple-primary: #723c70;

// $magenta: #a01a58;
// $magenta-vibrant: #b7094c;
// $magenta-purple: #892b64;

$purple: #7400b9;
$purple-deep: #6930c3;
$purple-light: #5e60ce;

$blue-primary: #5390d9;
$blue-lighter: #4ea8de;

$cyan: #48bfe3;
$aquamarine: #56cfe1;

$sm-screen-size: 425px;
$md-screen-size: 768px;
$lg-screen-size: 992px;
$xl-screen-size: 1420px;

// fonts
$fira-sans: "Fira Sans", sans-serif;
$inter: "Inter", sans-serif;
$oxy: "Oxygen", sans-serif;

@mixin sm-screen {
  @media only screen and (min-width: $sm-screen-size) {
    @content;
  }
}

@mixin md-screen {
  @media only screen and (max-width: $md-screen-size) {
    @content;
  }
}

@mixin lg-screen {
  @media only screen and (max-width: $lg-screen-size) {
    @content;
  }
}

@mixin xl-screen {
  @media only screen and (max-width: $xl-screen-size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: $oxy;
}
